@import "_variables.scss";

.counter-wrapper {
    padding: 7% 0;
}

.counter-wrapper img {
    width: 100%
}

.counter-inner {
    display: grid;
    grid-template-columns: repeat(2, 1fr)
}

.counter-grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 3em;
    margin-top: 3em !important
}

.counter-grid div {
    display: flex;
    flex-direction: column;
    align-items: center
}

.counter-title {
    font-weight: 900;
    font-size: 55px;
    color: #2b1a68
}

.counter-text {
    margin-top: 40px;
    font-weight: 600;
    font-size: 20px;
    text-align: center;
    color: #7c5abe
}

@media only screen and (max-width:1050px) {
    .counter-grid {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        grid-gap: 3em;
        margin-top: 2em
    }

    .counter-inner {
        display: flex;
        flex-direction: column-reverse !important;
        align-items: center;
        justify-content: center
    }

    .counter-title {
        margin-top: 20px
    }
}

.container {
    margin: 0 auto;
    max-width: 1280px;
    padding: 2em
}

h2 {
    z-index: 9999 !important;
    font-weight: 900 !important;
    font-size: 45px;
    color: #2b1a68;
    margin-bottom: 2rem
}

h2,
h3 {
    text-transform: uppercase
}

h3 {
    font-size: 24px;
    font-weight: 900;
    color: #7c5abe
}

p {
    font-size: 18px !important;
    color: #2b1a68;
    font-weight: 600;
    line-height: 1.7
}


.cte-wrapper {
    margin: 30px 0;
    display: flex;

    & button {
        margin-right: 20px;
        border-radius: 55px;
        text-transform: uppercase;
        padding: 15px 30px;
        font-size: 20px;
        transition: 0.2s all;
        cursor: pointer;
        font-weight: 800;


        &:hover {
            transform: scale(1.05);
            transition: 0.2s all;
        }
    }
}

.btn1 {
    background: none;
    border: 2px solid $color1;
    color: $color1;

    &:hover {
        background: $color3;
        border: 2px solid $color3;
        color: white;
        box-shadow: 0px 15px 20px -1px rgba(228, 24, 102, 0.3);

    }
}

.btn2 {
    background: $color3;
    border: 2px solid $color3;
    color: white;
    box-shadow: 0px 15px 30px -1px rgba(228, 24, 102, 0.3);

    &:hover {
        background: $color1;
        border: 2px solid $color1;
        color: $color3;
        box-shadow: 0px 15px 20px -1px rgba(228, 24, 102, 0.3);

    }
}

@media only screen and (max-width: 600px) {

    h1 {
        font-size: 35px !important;
    }

    span {
        font-size: 13px !important;
        line-height: 0.7em !important;
    }

    .hero-inner {
        padding: 0;

        & ul {
            padding: 0;

            & li {
                font-size: 12px;
                padding: 0px 7px;

            }
        }
    }


    .cte-wrapper {
        margin: 15px 0;

        & button {
            margin-left: 20px;
            padding: 10px 17px;
            font-size: 14px;


            &:hover {
                transform: scale(1.05);
                transition: 0.2s all;
            }
        }
    }
}