@import "_variables.scss";

.form-wrapper {
  opacity: 0
}

h3 {
  color: $color1;
  margin-bottom: 15px;
  letter-spacing: 1px;
  font-weight: 600;
}

h4 {
  color: $color1;
  margin-bottom: 10px;
  font-size: 16px;
  letter-spacing: 1px;
  font-weight: 100;
}

.form-inner-wrap {
  display: flex;
}

.sticky {
  position: sticky;
  top: 85px;
}

.form-right-col p {
  margin-bottom: 20px !important;
  font-size: 13px !important;
  font-weight: 500 !important;
}

@media only screen and (max-width: 1300px) {
  .sticky {
    position: relative;
    top: 0;
  }
}

@media only screen and (max-width: 1086px) {
  .inner-payment {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
  }

  .inner-payment div {
    width: 100%;
    flex-grow: 1;
    padding: 0px;
  }

  h3 {
    font-size: 18px;
  }

  .totalprice {
    font-size: 18px !important;
  }

  .form-left-col,
  .form-right-col {
    padding: 15px !important;
  }
}

@media only screen and (max-width: 666px) {
  .form-inner-wrap {
    display: flex;
    flex-direction: column-reverse;
    width: 100%;
  }

  .form-right-col {
    width: 100% !important;
  }

  .form-left-col {
    width: 100% !important;
    padding-top: 15px !important;
  }

  .form-right-col label {
    font-size: 14px !important;
  }

  .policy-accept {
    margin-bottom: 5px !important;
    margin-left: 10px;
  }

  .inner-payment {
    display: flex;
    flex-direction: row !important;
  }

  .inner-payment div {
    width: 33% !important;
    flex-grow: 1;
    padding: 0px;
  }
}

@media only screen and (min-width: 1780px) {
  .form-right-col {
    padding: 3.5em !important;
  }

  .form-left-col {
    padding: 2.5em 5.5em !important;
  }
}

.span-price {
  color: $color2;
  font-weight: 700;
  margin-left: 5px;
  padding-right: 10px;
}

.span-price-checked {
  color: white;
  font-weight: 700;
  margin-left: 5px;
  padding-right: 10px;
}

.error {
  color: red;
  font-size: 13px;
  letter-spacing: 1px;
  margin-left: 5px;
  margin-bottom: -10px;
}

//--------- LEFT COLUMN-----------------
.form-left-col {
  width: 30%;
  background: #eeeeee;
  padding: 1.5em;
}

.total-amount-box {
  width: 100%;
  background: white;
  padding: 15px;
  border-radius: $radius;
  margin-bottom: 10px;
  box-shadow: $shadow2;
}

.amount-inner {
  color: $color2;
  font-size: 25px;
  font-weight: 900;
  margin-bottom: 14px;
}

.policy-accept {}

.policy-accept label {
  margin-left: 8px;
  font-size: 13px;
  color: grey;
  font-weight: 600;
}

.policy-accept a {
  color: $color1;
  text-decoration: none;
  transition: 0.2s all;

  &:hover {
    transition: 0.2s all;
    color: $color2;
  }
}

button.submit {
  width: 100%;
  font-size: 19px;
  background: $color1;
  color: white;
  padding: 20px 10px;
  border-radius: $radius;
  box-shadow: $shadow2;
  text-transform: uppercase;
  font-weight: 900;
  letter-spacing: 2px;
  transition: 0.3s all;
  cursor: pointer;
  border: none;
  margin-top: 10px;
  box-shadow: $shadow2;

  &:hover {
    background: black;
    transition: 0.3s background-color;
    color: $color1;
  }
}

.submit-icon {
  color: white;
  font-size: 18px;
  margin-right: 10px;
}

.payment-wrapper {
  margin-bottom: 0px;
}

.inner-payment {
  display: flex;
  flex-direction: row;

  width: 100%;
}

.inner-payment div {
  display: flex;
  width: 100%;
  flex-grow: 1;
  padding: 5px;
}

.inner-payment div label {
  background: rgba(255, 255, 255, 1);
  color: $color1;
  padding: 10px 15px;
  border-radius: $radius;
  transition: 0.3s all;
  box-shadow: $shadow2;
  cursor: pointer;
  position: relative;
  font-size: 14px;
  flex-grow: 1;
  text-align: center;
}

.info-icon {
  font-size: 15px;
  position: absolute;
  right: 0;
  bottom: 0;
}

.tooltip {
  border-radius: $radius;
  background: $color2 !important;
}

.personal-data {
  display: block;
  flex-direction: column;

  & input {
    width: 100%;
    height: 40px;
    margin-bottom: 10px;
    padding-left: 15px;
    border-radius: $radius;
    border: none;
    box-shadow: $shadow2;
    color: $color1;
    font-size: 14px;
    transition: 0.3s all;

    &:hover {
      transition: 0.3s all;
      background: rgba(250, 000, 250, 0.1);
    }

    &:focus {
      transition: 1s all;
      background: rgba(250, 000, 250, 0.1);
    }
  }
}

.order-list {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  margin-left: 0px;
}

.order-list li {
  padding: 0px 7px;
  margin-right: 5px;
  margin-bottom: 7px;
  border-radius: $radius;
  font-size: 12px;
  color: white;
  font-weight: 500;
  box-shadow: $shadow2;
  background: $color1;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  border: 1px solid grey;
}

.totalprice {
  font-size: 23px;
  color: $color1;
  font-weight: 900;
  margin-top: 10px;
}

.subtitle {
  font-size: 15px;
}

//--------- RIGHT COLUMN-----------------

.form-right-col {
  width: 70%;
  padding: 1.5em;
  padding-right: 20%;
  background: #f6f9fd;
}

.form-right-col label {
  background: rgba(255, 255, 255, 1);
  color: $color1;
  padding: 7px 13px;
  border-radius: $radius;
  margin-right: 10px;
  transition: 0.3s all;
  box-shadow: $shadow2;
  cursor: pointer;
  position: relative;
  font-size: 15px;
  padding: 10px 10px;
}

.form-right-col label:hover {
  background: $color4;
}

.flex-inputs {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  text-align: center;
}

.flex-inputs div {
  text-align: center;
  margin-bottom: 25px;
}

.form-right-col input[type="checkbox"]:checked+label,
.form-right-col input[type="radio"]:checked+label,
.payment-wrapper input[type="radio"]:checked+label,
.payment-wrapper input[type="checkbox"]:checked+label {
  background: $color1;
  color: white;
  transition: 0.2s all;
  box-shadow: $shadow2;
}

.form-right-col input[type="radio"],
.form-right-col input[type="checkbox"],
.payment-wrapper input[type="radio"],
.payment-wrapper input[type="checkbox"] {
  display: none;
}

span.number {
  background: $color1;
  box-shadow: $shadow2;
  border-radius: 555px;
  color: white;
  padding: 2px 10px;
  margin-right: 10px;
  font-size: 21px;
}

textarea {
  font-size: 14px;
  width: 100%;
  height: 150px;
  padding-left: 15px;
  border-radius: $radius;
  border: none;
  box-shadow: $shadow2;
  color: $color1;
  padding-top: 15px;
}

.details-inputs {
  margin-bottom: 0.7em;
  margin-top: 1em;

  & a {
    text-decoration: none;
    color: $color2;
    font-weight: 400;
  }
}

.details-inputs input[type="text"],
.details-inputs input[type="tel"] {
  border: none;
  border-radius: 6px;
  height: 40px;
  padding: 10px;
  width: 100%;
  background: white !important;
  box-shadow: 0px 5px 20px -10px rgba(0, 0, 0, 0.1);
  font-size: 14px;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  -webkit-box-shadow: 0 0 0 30px white inset !important;
}

.details-inputs label {
  font-size: 14px;
  cursor: pointer;
  padding: 6px 8px;
  border-radius: 5px;
  width: 100% !important;

  &:hover {
    background: rgba(0, 0, 0, 0.05);
  }
}

.details-inputs input[type="checkbox"] {
  margin-right: 6px;
}

.gradient-text {
  background: $color1;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

fieldset {}