@import "_variables.scss";

body {}

h1,
h2,
h3 {}

h1 {}

p {
  font-weight: 500 !important;
}

.navbar {
  position: sticky;
  top: 0;
}

.gradient-nav-link {
  background: $color1;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.gradient-nav-link:hover {
  background: black;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.bg-gradient {
  background: $color1;
}

.mytitle::before {
  content: "";
  width: 200px;
  height: 90px;
  margin-top: -17px;
  margin-left: 25px;
  background: #f7fafc;
  border-radius: 9px;
  position: absolute;
  z-index: -1;
}

//PRELOADER
.preloader-wrapper {
  position: fixed;
  top: 0;
  width: 100%;
  height: 100vh;
  background: white;
  z-index: 99999999;
  display: flex;
  justify-content: center;
  align-self: center;
  overflow-y: hidden;
  overflow-x: hidden;
}

.preloader-inner {
  display: flex;
  justify-content: center;
  align-self: center;


}

.logas {
  opacity: 0;
}

.realizacje-title {
  opacity: 0
}